In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("taxi-far-prediction").getOrCreate()

In [2]:
import os
cwd = os.getcwd()
trip_data_path = os.path.join(cwd, 'learning_spark_data', 'trips', '*.csv')
trip_data_path

'/home/jovyan/work/practice_virtual-environment/learning_spark_data/trips/*.csv'

In [3]:
file_path = f"file:///{ trip_data_path.replace(os.sep, '/')}"
file_path

'file:////home/jovyan/work/practice_virtual-environment/learning_spark_data/trips/*.csv'

In [4]:
trip_df = spark.read.csv(file_path, inferSchema=True, header=True)
trip_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [5]:
# 운행 거리에 따른 요금 예측

In [6]:
trip_df.createOrReplaceTempView('trips')

In [7]:
query = """
SELECT
    trip_distance,
    total_amount
FROM trips

WHERE total_amount < 5000
  AND total_amount > 0
  AND trip_distance > 0
  AND trip_distance < 500
  AND passenger_count < 4
  AND TO_DATE(tpep_pickup_datetime) >= "2021-01-01"
  AND TO_DATE(tpep_pickup_datetime) < "2021-08-01"
"""

In [8]:
trip_df = spark.sql(query)
trip_df.createOrReplaceTempView('data')

In [9]:
# data table 결과 확인하기 
spark.sql('SELECT * FROM data LIMIT 5').show()

+-------------+------------+
|trip_distance|total_amount|
+-------------+------------+
|         16.5|       70.07|
|         1.13|       11.16|
|         2.68|       18.59|
|         12.4|        43.8|
|          9.7|        32.3|
+-------------+------------+

In [10]:
# train, test split 8:2, seed = 1
train_data, test_data = trip_df.randomSplit([0.8,0.2], seed=1)
train_data.show(5), test_data.show(5)

+-------------+------------+
|trip_distance|total_amount|
+-------------+------------+
|         0.01|        3.05|
|         0.01|         3.3|
|         0.01|         3.3|
|         0.01|         3.3|
|         0.01|         3.3|
+-------------+------------+
only showing top 5 rows

+-------------+------------+
|trip_distance|total_amount|
+-------------+------------+
|         0.01|         3.3|
|         0.01|         3.3|
|         0.01|         3.3|
|         0.01|         3.3|
|         0.01|         3.3|
+-------------+------------+
only showing top 5 rows

(None, None)

In [11]:
# vectorassembler > feature : trip_distance, target : total_amount
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(
    inputCols= ['trip_distance'],
    outputCol= 'features'
)
trip_v_df = assembler.transform(trip_df)
trip_v_df.select('features', 'total_amount').show(5)
train_data = assembler.transform(train_data)
test_data = assembler.transform(test_data)

+--------+------------+
|features|total_amount|
+--------+------------+
|  [16.5]|       70.07|
|  [1.13]|       11.16|
|  [2.68]|       18.59|
|  [12.4]|        43.8|
|   [9.7]|        32.3|
+--------+------------+
only showing top 5 rows

In [13]:
# LinearRegression 생성 maxiter=50, labelcol='total_amount', featurecol='features'
# fit 
# vassembler.transform(test)
# model.transform()
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(maxIter=50, labelCol='total_amount', featuresCol='features', njobs=-1)
lrModel = lr.fit(train_data)
pred = lrModel.transform(test_data)
pred.show(10)

+-------------+------------+--------+-----------------+
|trip_distance|total_amount|features|       prediction|
+-------------+------------+--------+-----------------+
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
|         0.01|         3.3|  [0.01]|9.430440745312902|
+-------------+------------+--------+-----------------+
only showing top 10 rows

In [15]:
lrModel.summary.rootMeanSquaredError # RMSE/

6.30781413196623

In [16]:
lrModel.summary.r2

0.7648633777017714